cellpose>=3.0.0
torch==2.0.1          # letzte Torch-Version für Py 3.8
pandas==2.0.3         # letzte Pandas-Version für Py 3.8
numpy>=1.24
scikit-image>=0.21
tqdm>=4.66
pyyaml>=6.0
pyarrow>=14.0
matplotlib>=3.5.0
aicspylibczi